{% load staticfiles %}
{% load mymediatags %}
{% get_csrftoken as token %}   {# CSRF TOKEN #}

{% include 'mymedia/imagefile/vue/gallery.html' %}
{% include 'mymedia/imagefile/vue/uploader.html' %}
{% include 'mymedia/imagefile/vue/slide.html' %}

<div id=app>

  <mymedia-gallery ref="gallery"
    :modal-state="galleryShow"        {# Gallery.modalState にバインド #}
    @on-upload="onShowUploader"
    @on-select="onImageSelected"></mymedia-gallery> {# Gallery.modalState にバインド #}

  <mymedia-uploader
    ref="uploader" :modal-state="uploaderShow" >{# Uploader.modalState にバインド #}
  </mymedia-uploader>

  <mymedia-slide
    ref="slide" :modal-state="slideShow">
  </mymedia-slide>
</div>

<script>
Vue.options.delimiters = ['{[{', '}]}'];        // Django テンプレートとバッティングしないように変更
{% include 'mymedia/imagefile/vue/gallery.js' %}
{% include 'mymedia/imagefile/vue/uploader.js' %}
{% include 'mymedia/imagefile/vue/slide.js' %}

var app = new Vue({
  el: '#app',
  components: {
    'mymedia-gallery': Gallery,
    'mymedia-uploader': Uploader,
    'mymedia-slide': Slide
  },
  data:{
    csrftoken: '{{ token }}',
    galleryShow: false,
    uploaderShow: false,
    slideShow: false,
    callback: function(){}
  },
  computed: {
  },
  methods:  {
      showGallery(callback){
        if(callback != undefined)
            this.callback = callback;
        this.$refs.gallery.$refs.dialog.show();
      },
      onShowUploader(image){
        if(image){
          this.$refs.uploader.setOriginal(image);
        }
        this.$refs.uploader.$refs.dialog.show();
      },
      onImageSelected(image, selected){
        if(selected == true){
            if( this.callback(image) ){
              this.$refs.gallery.$refs.dialog.hide();
            }
        }
      }
  }

});
</script>
