{% extends 'articles/base.html' %}
{% load myarticlestags i18n %}

{% block myarticles_content %}
<article>

  <header>
    <div class="row panel panel-primary">
      <div class="element-container col-md-12">
        {% article_meta instance=instance request=request %}
      </div>
    </div>
  </header>

  {% for element in instance.element_set.all %}
    <div class="row panel panel-default">
      <div class="element-container col-md-12">
        {% render_element element=element.instance request=request %}
      </div>
    </div>
  {% endfor %}

</article>
{% endblock %}

{% block article_script %}
<script>
$(function(){
  $("article").on({
      'click': function(){
        var parent = $(this).closest('div.element-container');
        var form = $(this).closest('form');
        var data = form.serialize() + "&mode=" + $(this).val() ;
        $.ajax({
            data: data,
            type: form.attr('method'),
            url: form.attr('action'),
            success: function(response){
                parent.html(response);
                return false;
            }
        });
        return false;
      }
  }, 'form button');
});
</script>
{% endblock %}


{% block style %}{{ block.super }}
<style>
div.row { margin: 10px; }
</style>
{% endblock %}
