{% extends 'articles/base.html' %}
{% load myarticlestags i18n %}

{% block myarticles_content %}
<article>

  <header>
    <div class="row panel panel-primary">
      <div class="element-container col-md-12">
        {% article_meta instance=instance request=request %}
      </div>
    </div>
  </header>

  <div id="element-list">
  {% for element in instance.element_set.all %}
    <div class="row panel panel-default element-container" element-id="{{ element.id }}">
      {% render_element element=element.instance request=request %}
    </div>
  {% endfor %}
  </div>

  <form id="element-move-form" action="{% url 'myarticles_element_move' %}" method="post" style="visibility:hidden">{% csrf_token %}
  </form>

</article>
{% endblock %}

{% block article_script %}
<script>  {# jqeury-ui-dist, jquery, bootstrap #}
$(function(){

  {# http://api.jqueryui.com/sortable/ #}
  var elements = $("#element-list");
  elements.sortable({
    handle: '.move-handle',
    update: function(ev, ui){
        var form = $("#element-move-form");
        var data = form.serialize() + "&id=" + ui.item.attr('element-id') + "&to="  + elements.children().index(ui.item);
        $.ajax({
            data: data, type: 'post', url: form.attr('action'),
            success: function(response){ return false; }
        });
    }
  });

  $("article").on({
      'click': function(){
        var parent = $(this).closest('div.element-container');
        var form = $(this).closest('form');
        var data = form.serialize() + "&mode=" + $(this).val() ;
        $.ajax({
            data: data,
            type: form.attr('method'),
            url: form.attr('action'),
            success: function(response){
                parent.html(response);
                return false;
            }
        });
        return false;
      }
  }, 'form button');
});
</script>
{% endblock %}


{% block style %}{{ block.super }}
<style>
div.row { margin: 10px; }
</style>
{% endblock %}
