{% extends 'articles/base.html' %}
{% load myarticlestags i18n staticfiles %}

{% block myarticles_content %}
<article>

  <header>
    {% article_meta instance=instance request=request %}
  </header>

  <div id="element-list">
  {% for element in instance.element_set.all %}
      {% render_element element=element.instance request=request %}
  {% endfor %}
  </div>

  <form id="element-move-form" action="{% url 'myarticles_element_move' %}" method="post" style="visibility:hidden">{% csrf_token %}
  </form>

  <form id="element-insert-form" action="{% url 'myarticles_element_insert' %}" method="post" style="visibility:hidden">{% csrf_token %}
    {% element_insert_form %}
  </form>


</article>
{% endblock %}

{% block article_script %}
<script>  {# jqeury-ui-dist, jquery, bootstrap #}
$(function(){

  $('.carousel').carousel();      // SLIDE

  {# http://api.jqueryui.com/sortable/ #}
  var elements = $("#element-list");
  elements.sortable({
    handle: '.move-handle',
    update: function(ev, ui){
        var form = $("#element-move-form");
        var data = form.serialize() + "&id=" + ui.item.attr('element-id') + "&to="  + elements.children().index(ui.item);
        $.ajax({
            data: data, type: 'post', url: form.attr('action'),
            success: function(response){ return false; }
        })  ;
    }
  });

  $("article")
    .on({'click': function(){
        var parent = $(this).closest('div.element-container');
        var form = $(this).closest('form');
        var data = form.serialize() + "&mode=" + $(this).val() ;
        $.ajax({
            data: data,
            type: form.attr('method'),
            url: form.attr('action'),
            success: function(response){
                parent.replaceWith(response);
                return false;
            }
        });
        return false;
    }}, 'form button')
    .on({'click': function(){
       var a = $(this);
       var item = a.attr('href').match(/\d+/g)
        var parent = $(this).closest('div.element-container');
        var form = $("#element-insert-form");
        form.find('input[name=insert-element-article]').val(item[0]);
        form.find('input[name=insert-element-position]').val(item[1]);
        form.find('input[name=insert-element-contenttype]').val(item[2]);
        var data = form.serialize();
        $.ajax({
            data: data, type: 'post', url: form.attr('action'),
            success: function(response){
                parent.after(response); return false;
            }
        });
        return true;
    }}, '.insert-element a');
});
</script>
{% endblock %}


{% block style %}{{ block.super }}
<style>
div.row { margin: 10px; padding-top:10px;}
img.image-mediafile {width: 80%; }
img.catch {width: 80%; }
</style>
{% endblock %}


{% block local_script %} {# mymedia code (Vue.js) #}
<script type="text/javascript" src="{% static 'lib/vue/dist/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/axios/dist/axios.min.js' %}"></script>
{% endblock %}
