{% extends 'articles/element/insert_base.html'  %}
{% load bootstrap3 i18n %}

{% block element_form %}
  <img src="" class="preview" width="80%"/>
  {% bootstrap_form form layout="horizontal" %}
  <span type="button" class="select-image">
      {% trans 'Select Image' %}
  </span>
{% endblock %}

{% block script_block %}
{% include 'articles/mediafile.html' %}
<script>
function onSelected(mediafile){
      var input = $("div.element-insert input[name='mediafile']");
      input.val(mediafile.id);     // set hidden input for MediaFile
      input.parents('form').find('img.preview').attr('src', mediafile.data);  // preview
}
$("article")
    .on({'click': function(e){app.showGallery(onSelected); }}, ".select-image");
</script>
{% endblock %}
