{% load i18n bootstrap3 %}
<div class="row panel panel-default element-container" element-id="{{ instance.id }}">
  <div class="col-md-12">
    <div class="element {{ instance.contenttype.app_label }}-{{ instance.contenttype.model }}" id="{{ instance.id }}">
    {% block element_blcok %}
      <form action="{% url 'myarticles_element_edit' id=form.instance.id %}" class="form form-horizontal" method="post"> {% csrf_token %}
          {% block element_form %}
          {% endblock %}

          {% buttons field_class="col-md-offset-10" %}
            <button class="btn btn-primary" value="delete">{% trans 'Delete' %}</button>
            <button class="btn btn-primary" value="edit">{% trans 'Save' %}</button>
            <button class="btn btn-primary" value="detail">{% trans 'Cancel' %}</button>
          {% endbuttons %}
      </form>
    {% endblock %}
    </div>
  </div>
</div>
