{% load i18n bootstrap3 %}
<div class="row panel panel-default element-container">
  <div class="col-md-12">
    <div class="element {{ instance.contenttype.app_label }}-{{ instance.contenttype.model }}" id="{{ instance.id }}">
    {% block element_blcok %}
      <form action="{% url 'myarticles_element_insert' %}" class="form form-horizontal" method="post"> {% csrf_token %}
          {{ insert_form }}
          {% block element_form %}
          {% endblock %}

          {% buttons field_class="col-md-offset-10" %}
            <button class="btn btn-primary">{% trans 'Save' %}</button>
          {% endbuttons %}
      </form>
    {% endblock %}
    </div>
  </div>
</div>
