{% include "articles/element/vue/myarticles_article.html" %}
{% include "articles/element/vue/myarticles_section.html" %}
{% include "articles/element/vue/myarticles_subsection.html" %}
{% include "articles/element/vue/myarticles_image.html" %}
{% include "articles/element/vue/myarticles_link.html" %}
{% include "articles/element/vue/myarticles_location.html" %}
{% include "articles/element/vue/myarticles_quote.html" %}
{% include "articles/element/vue/myarticles_slide.html" %}
{% include "articles/element/vue/myarticles_text.html" %}
