{% extends 'articles/element/insert_base.html'  %}
{% load bootstrap3 i18n %}

{% block element_form %}
  {% bootstrap_form_errors form %}
  {% bootstrap_form form layout="horizontal" %}
  <span type="button" class="btn btn-primary select-image"> {% trans 'Select Images' %} </span>
{% endblock %}

{% block script_block %}
{% include 'articles/mediafile.html' %}
<script>
$(function(){
  app.openSlide([], function(){
      var items = app.$refs.slide.mediafiles.map(i => i.id );
      var data = JSON.stringify(items);
      $('element-insert form input#id_mediafiles').val(data);
  });

  $("article")
    .off('click', 'button[value="edit"]')
    .off('click', '.select-image')
    .off('hidden.bs.modal', '#imagefile-picker');

  $("article")
    .on({'click': function(e){
      // set form hiddein input
      var data = JSON.stringify(app.$refs.slide.mediafiles);
      $(this).closest('form').find('input#id_mediafiles').val(data);
  }}, 'button[value="edit"]')
    .on({'click': function(e){
        app.openPicker(10);
  }}, ".select-image")
    .on({'hidden.bs.modal': function(e){
        console.log("image picker closed");
        var mediafiles = app.getValues();
        app.$refs.slide.addFiles(mediafiles);
  }}, "#imagefile-picker");
})
</script>
{% endblock %}
