{% extends 'articles/element/insert_base.html'  %}
{% load bootstrap3 i18n %}

{% block element_form %}
  {% bootstrap_form_errors form %}
  {% bootstrap_form form layout="horizontal" %}
  <span type="button" class="btn btn-primary select-image"> {% trans 'Select Images' %} </span>
{% endblock %}

{% block script_block %}
{% include 'articles/mediafile.html' %}
<script>
$(function(){

  app.$refs.slide.showSlide([], function(){
      var items = app.$refs.slide.mediafiles.map(i => i.id );
      var data = JSON.stringify(items);
      $('form#element-insert-form input#id_mediafiles').val(data);
  });

  function onSelected(mediafile){
    app.$refs.slide.addFiles([mediafile]);
    return false;     // continnue Gallery
  }

  $("article")
    .off('click', 'button[value="edit"]')
    .off('click', '.select-image')

  $("article")
    .on({'click': function(e){app.showGallery(onSelected); }}, ".select-image")
    .on({'click': function(e){
      // set form hiddein input
      var data = JSON.stringify(app.$refs.slide.mediafiles);
      $(this).closest('form').find('input#id_mediafiles').val(data);
  }}, 'button[value="edit"]');
})
</script>
{% endblock %}
